body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(103, 104, 102);
  display: flex;
  flex-direction: column;
}

img {
  height: 200px;
}

main {
  padding: 16px;
}

footer {
  flex-shrink: 0;
  font-size: 16px;
  background-color: rgb(0, 79, 52);
  padding: 2em;
  margin-top: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

nav {
  border-bottom: 1px solid black;
  padding: 16px;
  background-color: rgb(0, 79, 52);
}

a {
  text-decoration: none;
}

.div-with-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.grid-items {
  padding: 20px;
}

div h3 a {
  text-decoration: black;
}

tr:nth-child(even) {
  background-color: gray;
}
